USE [BorrowSystem]
GO
/****** Object:  Table [dbo].[BorrowRecords]    Script Date: 2025/9/12 下午 03:03:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowRecords](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[ListingID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[ReservationID] [int] NULL,
	[BorrowDate] [datetime2](7) NOT NULL,
	[ReturnDate] [datetime2](7) NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[StatusCode] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingAuthors]    Script Date: 2025/9/12 下午 03:03:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingAuthors](
	[ListingAuthorID] [int] IDENTITY(1,1) NOT NULL,
	[ListingID] [int] NOT NULL,
	[AuthorName] [nvarchar](50) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ListingAuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ListingAuthors_ListingID_AuthorName] UNIQUE NONCLUSTERED 
(
	[ListingID] ASC,
	[AuthorName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingImages]    Script Date: 2025/9/12 下午 03:03:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ListingID] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[Caption] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Listings]    Script Date: 2025/9/12 下午 03:03:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Listings](
	[ListingID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[PublisherID] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[ISBN] [varchar](13) NOT NULL,
	[Condition] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsAvailable] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ListingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 2025/9/12 下午 03:03:00 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[ListingID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[ReservationAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NULL,
	[ReadyAt] [datetime2](7) NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[BorrowRecords] ADD  DEFAULT ((1)) FOR [StatusCode]
GO
ALTER TABLE [dbo].[BorrowRecords] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BorrowRecords] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ListingImages] ADD  CONSTRAINT [DF_ListingImages_DefaultUrl]  DEFAULT (N'https://tse3.mm.bing.net/th/id/OIP.XMwbPt7RTqfSnle_yZFvywHaHa?pid=Api') FOR [ImageUrl]
GO
ALTER TABLE [dbo].[ListingImages] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Listings] ADD  CONSTRAINT [DF_Listings_IsAvailable]  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[Reservations] ADD  CONSTRAINT [DF_Resv_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Reservations] ADD  CONSTRAINT [DF_Resv_CreatedAt]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BorrowRecords]  WITH CHECK ADD  CONSTRAINT [FK_BorrowRecords_Listings] FOREIGN KEY([ListingID])
REFERENCES [dbo].[Listings] ([ListingID])
GO
ALTER TABLE [dbo].[BorrowRecords] CHECK CONSTRAINT [FK_BorrowRecords_Listings]
GO
ALTER TABLE [dbo].[BorrowRecords]  WITH CHECK ADD  CONSTRAINT [FK_BorrowRecords_Members] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[BorrowRecords] CHECK CONSTRAINT [FK_BorrowRecords_Members]
GO
ALTER TABLE [dbo].[BorrowRecords]  WITH CHECK ADD  CONSTRAINT [FK_BorrowRecords_Reservations] FOREIGN KEY([ReservationID])
REFERENCES [dbo].[Reservations] ([ReservationID])
GO
ALTER TABLE [dbo].[BorrowRecords] CHECK CONSTRAINT [FK_BorrowRecords_Reservations]
GO
ALTER TABLE [dbo].[ListingAuthors]  WITH CHECK ADD  CONSTRAINT [FK_ListingAuthors_Listings] FOREIGN KEY([ListingID])
REFERENCES [dbo].[Listings] ([ListingID])
GO
ALTER TABLE [dbo].[ListingAuthors] CHECK CONSTRAINT [FK_ListingAuthors_Listings]
GO
ALTER TABLE [dbo].[ListingImages]  WITH CHECK ADD  CONSTRAINT [FK_ListingImages_Listings] FOREIGN KEY([ListingID])
REFERENCES [dbo].[Listings] ([ListingID])
GO
ALTER TABLE [dbo].[ListingImages] CHECK CONSTRAINT [FK_ListingImages_Listings]
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD  CONSTRAINT [FK_Listings_Categories] FOREIGN KEY([CategoryID])
REFERENCES [dbo].[Categories] ([CategoryID])
GO
ALTER TABLE [dbo].[Listings] CHECK CONSTRAINT [FK_Listings_Categories]
GO
ALTER TABLE [dbo].[Listings]  WITH CHECK ADD  CONSTRAINT [FK_Listings_Publishers] FOREIGN KEY([PublisherID])
REFERENCES [dbo].[Publishers] ([PublisherID])
GO
ALTER TABLE [dbo].[Listings] CHECK CONSTRAINT [FK_Listings_Publishers]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Listings] FOREIGN KEY([ListingID])
REFERENCES [dbo].[Listings] ([ListingID])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Listings]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [FK_Reservations_Members] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [FK_Reservations_Members]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [CK_Resv_Status_Range] CHECK  (([Status]>=(0) AND [Status]<=(4)))
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [CK_Resv_Status_Range]
GO
ALTER TABLE [dbo].[Reservations]  WITH CHECK ADD  CONSTRAINT [CK_Resv_Time_Logic] CHECK  ((([ExpiresAt] IS NULL OR [ExpiresAt]>=[ReservationAt]) AND ([ReadyAt] IS NULL OR [ReadyAt]>=[ReservationAt])))
GO
ALTER TABLE [dbo].[Reservations] CHECK CONSTRAINT [CK_Resv_Time_Logic]
GO
