@model BookLoop.Models.PenaltyRule

@{
    ViewData["Title"] = "Create";
}

<h1>新增規則</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            @Html.AntiForgeryToken()
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="ReasonCode" class="control-label"></label>
                <input asp-for="ReasonCode" class="form-control" />
                <span asp-validation-for="ReasonCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ChargeType" class="control-label"></label>
                <input asp-for="ChargeType" class="form-control" />
                <span asp-validation-for="ChargeType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UnitAmount" class="control-label"></label>
                <input type="number" step="1" asp-for="UnitAmount" class="form-control" />
                <span asp-validation-for="UnitAmount" class="text-danger"></span>
            </div>
            
            
           
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
