USE [master]
GO
/****** Object:  Database [BookLoop]    Script Date: 2025/10/2 上午 11:03:42 ******/
CREATE DATABASE [BookLoop]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BookLoop', FILENAME = N'C:\Users\ispan\BookLoop.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BookLoop_log', FILENAME = N'C:\Users\ispan\BookLoop_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BookLoop].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BookLoop]
GO
/****** Object:  Table [dbo].[Blacklists]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Blacklists](
	[BlacklistID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[Reason] [nvarchar](200) NULL,
	[SourceType] [tinyint] NOT NULL,
	[StartAt] [datetime2](7) NOT NULL,
	[EndAt] [datetime2](7) NULL,
	[LiftedByUserID] [int] NULL,
	[LiftedAt] [datetime2](7) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BlacklistID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_BlacklistActive]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_BlacklistActive] AS
SELECT *
FROM Blacklists
WHERE StartAt <= SYSUTCDATETIME()
  AND (EndAt IS NULL OR EndAt > SYSUTCDATETIME())
  AND LiftedAt IS NULL;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](128) NOT NULL,
	[ProviderKey] [nvarchar](128) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](128) NOT NULL,
	[Name] [nvarchar](128) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Authors]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Authors](
	[AuthorID] [int] IDENTITY(1,1) NOT NULL,
	[AuthorName] [nvarchar](50) NOT NULL,
	[Slug] [nvarchar](200) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookAuthors]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookAuthors](
	[BookID] [int] NOT NULL,
	[AuthorID] [int] NOT NULL,
	[AuthorOrder] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC,
	[AuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookImages]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[FilePath] [nvarchar](300) NOT NULL,
	[Caption] [nvarchar](100) NULL,
	[IsPrimary] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BookInventory]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BookInventory](
	[InventoryID] [int] IDENTITY(1,1) NOT NULL,
	[BookID] [int] NOT NULL,
	[OnHand] [int] NOT NULL,
	[Reserved] [int] NOT NULL,
	[Location] [nvarchar](100) NULL,
	[Note] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Books]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Books](
	[BookID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[ISBN] [nvarchar](20) NULL,
	[PublisherID] [int] NULL,
	[CategoryID] [int] NULL,
	[AuthorID] [int] NULL,
	[PublishDate] [date] NULL,
	[Subtitle] [nvarchar](255) NULL,
	[LanguageCode] [nvarchar](10) NULL,
	[ListPrice] [decimal](18, 2) NOT NULL,
	[SalePrice] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Slug] [nvarchar](200) NULL,
	[IsDeleted] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BookID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BorrowRecords]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BorrowRecords](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[ListingID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[ReservationID] [int] NULL,
	[BorrowDate] [datetime2](7) NOT NULL,
	[ReturnDate] [datetime2](7) NULL,
	[DueDate] [datetime2](7) NOT NULL,
	[StatusCode] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Categories]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Categories](
	[CategoryID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryName] [nvarchar](100) NOT NULL,
	[Slug] [nvarchar](200) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[Code] [nvarchar](50) NULL,
	[ParentID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[CouponID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](32) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](400) NULL,
	[DiscountType] [tinyint] NOT NULL,
	[DiscountValue] [decimal](10, 2) NOT NULL,
	[MinOrderAmount] [decimal](10, 2) NULL,
	[MaxDiscountAmount] [decimal](10, 2) NULL,
	[StartAt] [datetime2](7) NULL,
	[EndAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[AutoAssignOnRegister] [bit] NOT NULL,
	[MaxUsesPerMember] [int] NULL,
	[MaxUsesTotal] [int] NULL,
	[RequireLogin] [bit] NOT NULL,
	[RowVer] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CouponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customers]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customers](
	[CustomerID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NULL,
	[CustomerName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](254) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Address] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[CustomerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Features]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Features](
	[FeatureID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [varchar](100) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[FeatureGroup] [nvarchar](100) NULL,
	[IsPageLevel] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[Group] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[FeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportMappings]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportMappings](
	[MappingID] [int] IDENTITY(1,1) NOT NULL,
	[ImportID] [int] NOT NULL,
	[SourceField] [nvarchar](100) NOT NULL,
	[TargetField] [nvarchar](100) NOT NULL,
	[SampleValue] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MappingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ImportStaging]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ImportStaging](
	[StagingID] [bigint] IDENTITY(1,1) NOT NULL,
	[ImportID] [int] NOT NULL,
	[RowData] [nvarchar](max) NOT NULL,
	[IsValid] [bit] NOT NULL,
	[ErrorMessage] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StagingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingAuthors]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingAuthors](
	[ListingAuthorID] [int] IDENTITY(1,1) NOT NULL,
	[ListingID] [int] NOT NULL,
	[AuthorName] [nvarchar](50) NOT NULL,
	[IsPrimary] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ListingAuthorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ListingImages]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ListingImages](
	[ImageID] [int] IDENTITY(1,1) NOT NULL,
	[ListingID] [int] NOT NULL,
	[ImageUrl] [nvarchar](500) NOT NULL,
	[Caption] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ImageID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Listings]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Listings](
	[ListingID] [int] IDENTITY(1,1) NOT NULL,
	[CategoryID] [int] NOT NULL,
	[PublisherID] [int] NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[ISBN] [varchar](13) NOT NULL,
	[Condition] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[IsAvailable] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ListingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberCoupons]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberCoupons](
	[MemberCouponID] [bigint] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[CouponID] [int] NOT NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[UsedAt] [datetime2](7) NULL,
	[IsUsed] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberCouponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberCredentials]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberCredentials](
	[MemberID] [int] NOT NULL,
	[Account] [nvarchar](50) NOT NULL,
	[PasswordHash] [nvarchar](200) NOT NULL,
	[PasswordSalt] [nvarchar](200) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberExternalLogins]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberExternalLogins](
	[BindingID] [bigint] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[Provider] [varchar](50) NOT NULL,
	[ProviderKey] [nvarchar](200) NOT NULL,
	[DisplayName] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[BindingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberPoints]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberPoints](
	[MemberPointID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[Points] [int] NOT NULL,
	[Balance] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberPointID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](254) NULL,
	[Phone] [varchar](20) NULL,
	[Role] [tinyint] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[TotalBooks] [int] NOT NULL,
	[TotalBorrows] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[RowVersion] [timestamp] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderAddresses]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderAddresses](
	[OrderAddressID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[AddressType] [tinyint] NOT NULL,
	[Address] [nvarchar](200) NOT NULL,
	[ContactName] [nvarchar](100) NULL,
	[Phone] [varchar](20) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderAddressID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderCouponSnapshots]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderCouponSnapshots](
	[OrderCouponSnapID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[MemberCouponID] [bigint] NULL,
	[CouponID] [int] NOT NULL,
	[CouponTypeSnap] [tinyint] NOT NULL,
	[CouponValueSnap] [decimal](10, 2) NOT NULL,
	[CouponNameSnap] [nvarchar](100) NULL,
	[CouponDiscountAmount] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderCouponSnapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[OrderDetailID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[BookID] [int] NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[Quantity] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[ProductDiscountAmount] [decimal](10, 2) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderDetailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[CustomerID] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[DiscountAmount] [decimal](10, 2) NULL,
	[DiscountCode] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[MemberCouponID] [bigint] NULL,
	[CouponTypeSnap] [tinyint] NULL,
	[CouponValueSnap] [decimal](10, 2) NULL,
	[CouponNameSnap] [nvarchar](100) NULL,
	[CouponDiscountAmount] [decimal](10, 2) NOT NULL,
	[MemberID] [int] NULL,
	[Notes] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PenaltyRules]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PenaltyRules](
	[RuleID] [int] IDENTITY(1,1) NOT NULL,
	[ReasonCode] [nvarchar](100) NOT NULL,
	[ChargeType] [nvarchar](20) NOT NULL,
	[UnitAmount] [int] NOT NULL,
	[EffectiveFrom] [datetime2](7) NOT NULL,
	[EffectiveTo] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PenaltyTransactions]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PenaltyTransactions](
	[PenaltyID] [int] IDENTITY(1,1) NOT NULL,
	[RecordID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[RuleID] [int] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[Quantity] [int] NOT NULL,
	[PaidAt] [datetime2](7) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permission_Features]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permission_Features](
	[PermissionID] [int] NOT NULL,
	[FeatureID] [int] NOT NULL,
 CONSTRAINT [PK_PermissionFeatures] PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC,
	[FeatureID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[PermissionID] [int] IDENTITY(1,1) NOT NULL,
	[PermKey] [varchar](100) NOT NULL,
	[PermName] [varchar](100) NOT NULL,
	[PermGroup] [varchar](100) NULL,
	[Note] [nvarchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionSetItems]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionSetItems](
	[PermissionSetID] [int] NOT NULL,
	[PermissionID] [int] NOT NULL,
 CONSTRAINT [PK_PermissionSetItems] PRIMARY KEY CLUSTERED 
(
	[PermissionSetID] ASC,
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PermissionSets]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PermissionSets](
	[PermissionSetID] [int] IDENTITY(1,1) NOT NULL,
	[SetCode] [varchar](50) NOT NULL,
	[SetName] [varchar](100) NOT NULL,
	[Description] [varchar](200) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PermissionSetID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PointsLedger]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointsLedger](
	[LedgerID] [bigint] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[Delta] [int] NOT NULL,
	[ReasonCode] [nvarchar](50) NULL,
	[OrderID] [int] NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[ExternalOrderNo] [nvarchar](64) NULL,
PRIMARY KEY CLUSTERED 
(
	[LedgerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publishers]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publishers](
	[PublisherID] [int] IDENTITY(1,1) NOT NULL,
	[PublisherName] [nvarchar](100) NOT NULL,
	[Slug] [nvarchar](200) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PublisherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RawImports]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RawImports](
	[ImportID] [int] IDENTITY(1,1) NOT NULL,
	[FileName] [nvarchar](300) NOT NULL,
	[FileType] [nvarchar](20) NOT NULL,
	[Source] [nvarchar](100) NULL,
	[ImportedBy] [int] NOT NULL,
	[ImportedAt] [datetime2](7) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[Message] [nvarchar](1000) NULL,
PRIMARY KEY CLUSTERED 
(
	[ImportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rentals]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rentals](
	[RentalID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ItemName] [nvarchar](100) NOT NULL,
	[RentalStart] [datetime2](7) NOT NULL,
	[RentalEnd] [datetime2](7) NOT NULL,
	[ReturnedDate] [datetime2](7) NULL,
	[Status] [tinyint] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RentalID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportDefinition]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportDefinition](
	[ReportDefinitionID] [int] IDENTITY(1,1) NOT NULL,
	[ReportName] [nvarchar](200) NOT NULL,
	[Category] [nvarchar](20) NOT NULL,
	[BaseKind] [nvarchar](20) NOT NULL,
	[Description] [nvarchar](1000) NULL,
	[IsActive] [bit] NOT NULL,
	[IsSystem] [bit] NOT NULL,
	[SortOrder] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportDefinitionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportExportLog]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportExportLog](
	[ExportID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[ReportName] [nvarchar](100) NULL,
	[ExportFormat] [nvarchar](20) NULL,
	[ExportAt] [datetime2](7) NULL,
	[Filters] [nvarchar](max) NULL,
	[FilePath] [nvarchar](300) NULL,
PRIMARY KEY CLUSTERED 
(
	[ExportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReportFilter]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReportFilter](
	[ReportFilterID] [int] IDENTITY(1,1) NOT NULL,
	[ReportDefinitionID] [int] NOT NULL,
	[FieldName] [nvarchar](100) NOT NULL,
	[DisplayName] [nvarchar](200) NOT NULL,
	[DataType] [nvarchar](20) NOT NULL,
	[Operator] [nvarchar](20) NOT NULL,
	[ValueJson] [nvarchar](max) NOT NULL,
	[Options] [nvarchar](max) NULL,
	[OrderIndex] [int] NOT NULL,
	[IsRequired] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[UpdatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReportFilterID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reservations]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reservations](
	[ReservationID] [int] IDENTITY(1,1) NOT NULL,
	[ListingID] [int] NOT NULL,
	[MemberID] [int] NOT NULL,
	[ReservationAt] [datetime2](7) NOT NULL,
	[ExpiresAt] [datetime2](7) NULL,
	[ReadyAt] [datetime2](7) NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReservationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Returns]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Returns](
	[ReturnID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[ReturnReason] [nvarchar](200) NULL,
	[ReturnType] [tinyint] NOT NULL,
	[Status] [tinyint] NOT NULL,
	[ReturnedDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[ReturnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewModerations]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewModerations](
	[ModerationID] [bigint] IDENTITY(1,1) NOT NULL,
	[ReviewID] [int] NOT NULL,
	[Decision] [tinyint] NOT NULL,
	[Reasons] [nvarchar](2000) NULL,
	[ReviewedBy] [int] NULL,
	[ReviewedAt] [datetime2](7) NULL,
	[RuleSnapshot] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ModerationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewRuleSettings]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewRuleSettings](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MinContentLength] [int] NOT NULL,
	[RatingMin] [tinyint] NOT NULL,
	[RatingMax] [tinyint] NOT NULL,
	[BlockSelfReview] [bit] NOT NULL,
	[TargetTypeForMember] [tinyint] NOT NULL,
	[ForbidUrls] [bit] NOT NULL,
	[DuplicateWindowHours] [int] NOT NULL,
	[DuplicatePolicy] [tinyint] NOT NULL,
	[ForbiddenKeywords] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[TargetType] [tinyint] NOT NULL,
	[TargetID] [int] NOT NULL,
	[Rating] [tinyint] NOT NULL,
	[Content] [nvarchar](2000) NOT NULL,
	[ImageUrls] [nvarchar](2000) NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RolePermissions]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RolePermissions](
	[RoleID] [int] NOT NULL,
	[PermissionID] [int] NOT NULL,
 CONSTRAINT [PK_RolePermissions] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC,
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] IDENTITY(1,1) NOT NULL,
	[RoleCode] [varchar](50) NOT NULL,
	[RoleName] [varchar](100) NOT NULL,
	[RoleScope] [tinyint] NOT NULL,
	[Description] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RuleApplications]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuleApplications](
	[RuleAppID] [int] IDENTITY(1,1) NOT NULL,
	[ExternalOrderNo] [nvarchar](64) NOT NULL,
	[MemberID] [int] NOT NULL,
	[CouponCodeSnap] [nvarchar](32) NULL,
	[CouponTypeSnap] [tinyint] NULL,
	[CouponValueSnap] [decimal](10, 2) NULL,
	[CouponDiscountAmount] [decimal](10, 2) NULL,
	[PointsUsed] [int] NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[Payable] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RefundedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[RuleAppID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shipments]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shipments](
	[ShipmentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[Provider] [nvarchar](50) NULL,
	[AddressID] [int] NULL,
	[TrackingNumber] [nvarchar](50) NULL,
	[ShippedDate] [datetime2](7) NULL,
	[DeliveredDate] [datetime2](7) NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ShipmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIER_USERS]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIER_USERS](
	[SupplierID] [int] NOT NULL,
	[UserID] [int] NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
 CONSTRAINT [PK_SUPPLIER_USERS] PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC,
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUPPLIERS]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUPPLIERS](
	[SupplierID] [int] IDENTITY(1,1) NOT NULL,
	[SupplierName] [nvarchar](200) NOT NULL,
	[ContactEmail] [nvarchar](254) NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SupplierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_PERMISSIONS]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_PERMISSIONS](
	[UserID] [int] NOT NULL,
	[PermissionID] [int] NOT NULL,
	[Mode] [int] NOT NULL,
 CONSTRAINT [PK_USER_PERMISSIONS] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[PermissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[USER_ROLES]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USER_ROLES](
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_USER_ROLES] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC,
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 2025/10/2 上午 11:03:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserType] [tinyint] NOT NULL,
	[Email] [nvarchar](254) NOT NULL,
	[Phone] [varchar](20) NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[LastLoginAt] [datetime2](7) NULL,
	[LockoutEndAt] [datetime2](7) NULL,
	[MustChangePassword] [bit] NOT NULL,
	[PasswordHash] [nvarchar](256) NULL,
	[DisplayName] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'00000000000000_CreateIdentitySchema', N'8.0.18')
GO
SET IDENTITY_INSERT [dbo].[Authors] ON 

INSERT [dbo].[Authors] ([AuthorID], [AuthorName], [Slug], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (1, N'王小明', N'wang-xiaoming', 0, CAST(N'2025-09-18T16:25:03.4800000' AS DateTime2), CAST(N'2025-09-18T16:25:03.4800000' AS DateTime2))
INSERT [dbo].[Authors] ([AuthorID], [AuthorName], [Slug], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (2, N'李大華', N'li-dahua', 0, CAST(N'2025-09-18T16:25:03.4800000' AS DateTime2), CAST(N'2025-09-18T16:25:03.4800000' AS DateTime2))
INSERT [dbo].[Authors] ([AuthorID], [AuthorName], [Slug], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (3, N'林小潔', N'lin-xiaojie', 0, CAST(N'2025-09-18T16:25:03.4800000' AS DateTime2), CAST(N'2025-09-18T16:25:03.4800000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Authors] OFF
GO
SET IDENTITY_INSERT [dbo].[BookImages] ON 

INSERT [dbo].[BookImages] ([ImageID], [BookID], [FilePath], [Caption], [IsPrimary], [CreatedAt], [UpdatedAt]) VALUES (1, 30, N'd61677b437434129a1033451ab5e6ae0.jpg', NULL, 1, CAST(N'2025-09-18T09:19:59.6132048' AS DateTime2), CAST(N'2025-09-18T09:19:59.6132480' AS DateTime2))
INSERT [dbo].[BookImages] ([ImageID], [BookID], [FilePath], [Caption], [IsPrimary], [CreatedAt], [UpdatedAt]) VALUES (2, 3, N'a2fcf43626cd4838a3ce73073206ec09.jpg', NULL, 0, CAST(N'2025-09-19T01:43:29.6198309' AS DateTime2), CAST(N'2025-09-19T07:20:11.7906502' AS DateTime2))
INSERT [dbo].[BookImages] ([ImageID], [BookID], [FilePath], [Caption], [IsPrimary], [CreatedAt], [UpdatedAt]) VALUES (3, 3, N'7ca40f7226fe48f984771f671918a162.jpg', NULL, 1, CAST(N'2025-09-19T07:20:11.7908478' AS DateTime2), CAST(N'2025-09-19T07:20:11.7908938' AS DateTime2))
SET IDENTITY_INSERT [dbo].[BookImages] OFF
GO
SET IDENTITY_INSERT [dbo].[Books] ON 

INSERT [dbo].[Books] ([BookID], [Title], [ISBN], [PublisherID], [CategoryID], [AuthorID], [PublishDate], [Subtitle], [LanguageCode], [ListPrice], [SalePrice], [Description], [CreatedAt], [UpdatedAt], [Slug], [IsDeleted]) VALUES (2, N'SQL Server 資料庫實戰', N'9786261001002', 2, 2, 2, CAST(N'2023-02-10' AS Date), NULL, NULL, CAST(750.00 AS Decimal(18, 2)), CAST(675.00 AS Decimal(18, 2)), NULL, CAST(N'2025-09-18T16:24:48.6366667' AS DateTime2), CAST(N'2025-09-18T16:24:48.6366667' AS DateTime2), NULL, 0)
INSERT [dbo].[Books] ([BookID], [Title], [ISBN], [PublisherID], [CategoryID], [AuthorID], [PublishDate], [Subtitle], [LanguageCode], [ListPrice], [SalePrice], [Description], [CreatedAt], [UpdatedAt], [Slug], [IsDeleted]) VALUES (3, N'ASP.NET Core MVC 教學', N'9786261001003', 3, 3, 3, CAST(N'2023-03-12' AS Date), NULL, NULL, CAST(700.00 AS Decimal(18, 2)), CAST(630.00 AS Decimal(18, 2)), NULL, CAST(N'2025-09-18T16:24:48.6366667' AS DateTime2), CAST(N'2025-09-19T07:20:11.7634890' AS DateTime2), N'aspnet-core-mvc-教學', 0)
INSERT [dbo].[Books] ([BookID], [Title], [ISBN], [PublisherID], [CategoryID], [AuthorID], [PublishDate], [Subtitle], [LanguageCode], [ListPrice], [SalePrice], [Description], [CreatedAt], [UpdatedAt], [Slug], [IsDeleted]) VALUES (4, N'Python 資料分析', N'9786261001004', 4, 4, 4, CAST(N'2023-04-05' AS Date), NULL, NULL, CAST(800.00 AS Decimal(18, 2)), CAST(720.00 AS Decimal(18, 2)), NULL, CAST(N'2025-09-18T16:24:48.6366667' AS DateTime2), CAST(N'2025-09-18T16:24:48.6366667' AS DateTime2), NULL, 0)
SET IDENTITY_INSERT [dbo].[Books] OFF
GO
SET IDENTITY_INSERT [dbo].[BorrowRecords] ON 

INSERT [dbo].[BorrowRecords] ([RecordID], [ListingID], [MemberID], [ReservationID], [BorrowDate], [ReturnDate], [DueDate], [StatusCode], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 57, NULL, CAST(N'2025-09-15T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2025-09-29T00:00:00.0000000' AS DateTime2), 1, CAST(N'2025-09-18T18:31:48.4566667' AS DateTime2), CAST(N'2025-09-18T18:31:48.4566667' AS DateTime2))
INSERT [dbo].[BorrowRecords] ([RecordID], [ListingID], [MemberID], [ReservationID], [BorrowDate], [ReturnDate], [DueDate], [StatusCode], [CreatedAt], [UpdatedAt]) VALUES (2, 2, 142, NULL, CAST(N'2025-09-14T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2025-09-28T00:00:00.0000000' AS DateTime2), 1, CAST(N'2025-09-18T18:31:48.4566667' AS DateTime2), CAST(N'2025-09-18T18:31:48.4566667' AS DateTime2))
INSERT [dbo].[BorrowRecords] ([RecordID], [ListingID], [MemberID], [ReservationID], [BorrowDate], [ReturnDate], [DueDate], [StatusCode], [CreatedAt], [UpdatedAt]) VALUES (3, 3, 9, NULL, CAST(N'2025-09-13T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2025-09-27T00:00:00.0000000' AS DateTime2), 1, CAST(N'2025-09-18T18:31:48.4566667' AS DateTime2), CAST(N'2025-09-18T18:31:48.4566667' AS DateTime2))
SET IDENTITY_INSERT [dbo].[BorrowRecords] OFF
GO
SET IDENTITY_INSERT [dbo].[Categories] ON 

INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Slug], [IsDeleted], [CreatedAt], [UpdatedAt], [Code], [ParentID]) VALUES (3, N'網頁程式', N'web-dev', 0, CAST(N'2025-09-18T16:25:03.4800000' AS DateTime2), CAST(N'2025-09-18T16:25:03.4800000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Slug], [IsDeleted], [CreatedAt], [UpdatedAt], [Code], [ParentID]) VALUES (4, N'資料科學', N'data-science', 0, CAST(N'2025-09-18T16:25:03.4800000' AS DateTime2), CAST(N'2025-09-18T16:25:03.4800000' AS DateTime2), NULL, NULL)
INSERT [dbo].[Categories] ([CategoryID], [CategoryName], [Slug], [IsDeleted], [CreatedAt], [UpdatedAt], [Code], [ParentID]) VALUES (5, N'人工智慧', N'ai', 0, CAST(N'2025-09-18T16:25:03.4800000' AS DateTime2), CAST(N'2025-09-18T16:25:03.4800000' AS DateTime2), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Categories] OFF
GO
SET IDENTITY_INSERT [dbo].[Coupons] ON 

INSERT [dbo].[Coupons] ([CouponID], [Code], [Name], [Description], [DiscountType], [DiscountValue], [MinOrderAmount], [MaxDiscountAmount], [StartAt], [EndAt], [IsActive], [CreatedAt], [UpdatedAt], [AutoAssignOnRegister], [MaxUsesPerMember], [MaxUsesTotal], [RequireLogin]) VALUES (1, N'FIX100', N'滿額折100', NULL, 0, CAST(100.00 AS Decimal(10, 2)), NULL, NULL, CAST(N'2025-09-08T08:34:54.6522202' AS DateTime2), CAST(N'2025-10-09T08:34:54.6522398' AS DateTime2), 0, CAST(N'2025-09-09T08:34:54.6522646' AS DateTime2), CAST(N'2025-09-09T08:34:54.6522759' AS DateTime2), 0, NULL, NULL, 0)
INSERT [dbo].[Coupons] ([CouponID], [Code], [Name], [Description], [DiscountType], [DiscountValue], [MinOrderAmount], [MaxDiscountAmount], [StartAt], [EndAt], [IsActive], [CreatedAt], [UpdatedAt], [AutoAssignOnRegister], [MaxUsesPerMember], [MaxUsesTotal], [RequireLogin]) VALUES (2, N'PCT10', N'滿額打9折', NULL, 1, CAST(10.00 AS Decimal(10, 2)), NULL, NULL, CAST(N'2025-09-08T08:34:54.7340000' AS DateTime2), CAST(N'2025-10-09T08:34:54.7340000' AS DateTime2), 1, CAST(N'2025-09-09T08:34:54.7345556' AS DateTime2), CAST(N'2025-09-10T07:20:22.9799560' AS DateTime2), 0, NULL, NULL, 0)
INSERT [dbo].[Coupons] ([CouponID], [Code], [Name], [Description], [DiscountType], [DiscountValue], [MinOrderAmount], [MaxDiscountAmount], [StartAt], [EndAt], [IsActive], [CreatedAt], [UpdatedAt], [AutoAssignOnRegister], [MaxUsesPerMember], [MaxUsesTotal], [RequireLogin]) VALUES (3, N'PCT20', N'滿額打8折', NULL, 1, CAST(20.00 AS Decimal(10, 2)), NULL, NULL, CAST(N'2025-09-11T10:18:00.0000000' AS DateTime2), CAST(N'2025-09-20T10:18:00.0000000' AS DateTime2), 1, CAST(N'2025-09-12T02:18:59.6352583' AS DateTime2), CAST(N'2025-09-12T02:23:26.7599709' AS DateTime2), 0, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Coupons] OFF
GO
SET IDENTITY_INSERT [dbo].[Customers] ON 

INSERT [dbo].[Customers] ([CustomerID], [MemberID], [CustomerName], [Email], [Phone], [Address], [CreatedAt], [UpdatedAt]) VALUES (1, NULL, N'王小明', N'xiaoming.wang@example.com', N'0912345678', N'台北市信義區信義路1段1號', CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2), CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2))
INSERT [dbo].[Customers] ([CustomerID], [MemberID], [CustomerName], [Email], [Phone], [Address], [CreatedAt], [UpdatedAt]) VALUES (2, NULL, N'李小華', N'li.hua@example.com', N'0922333444', N'新北市板橋區中山路100號', CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2), CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2))
INSERT [dbo].[Customers] ([CustomerID], [MemberID], [CustomerName], [Email], [Phone], [Address], [CreatedAt], [UpdatedAt]) VALUES (3, NULL, N'張美麗', N'zhang.mei@example.com', N'0933555777', N'台中市西屯區文心路200號', CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2), CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Customers] OFF
GO
SET IDENTITY_INSERT [dbo].[Features] ON 

INSERT [dbo].[Features] ([FeatureID], [Code], [Name], [FeatureGroup], [IsPageLevel], [SortOrder], [Group]) VALUES (1, N'Users.Index', N'帳號清單', NULL, 1, 10, N'Accounts')
INSERT [dbo].[Features] ([FeatureID], [Code], [Name], [FeatureGroup], [IsPageLevel], [SortOrder], [Group]) VALUES (2, N'Users.Edit', N'帳號編輯', NULL, 0, 11, N'Accounts')
INSERT [dbo].[Features] ([FeatureID], [Code], [Name], [FeatureGroup], [IsPageLevel], [SortOrder], [Group]) VALUES (3, N'Permissions.Index', N'權限管理', NULL, 1, 20, N'Permissions')
SET IDENTITY_INSERT [dbo].[Features] OFF
GO
SET IDENTITY_INSERT [dbo].[ListingAuthors] ON 

INSERT [dbo].[ListingAuthors] ([ListingAuthorID], [ListingID], [AuthorName], [IsPrimary], [CreatedAt]) VALUES (1, 1, N'張文豪', 1, CAST(N'2025-09-18T18:29:15.9733333' AS DateTime2))
INSERT [dbo].[ListingAuthors] ([ListingAuthorID], [ListingID], [AuthorName], [IsPrimary], [CreatedAt]) VALUES (2, 2, N'李俊賢', 1, CAST(N'2025-09-18T18:29:15.9733333' AS DateTime2))
INSERT [dbo].[ListingAuthors] ([ListingAuthorID], [ListingID], [AuthorName], [IsPrimary], [CreatedAt]) VALUES (3, 3, N'林婉婷', 1, CAST(N'2025-09-18T18:29:15.9733333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[ListingAuthors] OFF
GO
SET IDENTITY_INSERT [dbo].[Listings] ON 

INSERT [dbo].[Listings] ([ListingID], [CategoryID], [PublisherID], [Title], [ISBN], [Condition], [CreatedAt], [IsAvailable]) VALUES (1, 1, 1, N'迷霧之城', N'9781234567890', N'九成新，少許折痕', CAST(N'2025-09-18T18:28:42.0666667' AS DateTime2), 1)
INSERT [dbo].[Listings] ([ListingID], [CategoryID], [PublisherID], [Title], [ISBN], [Condition], [CreatedAt], [IsAvailable]) VALUES (2, 2, 2, N'Python程式設計入門', N'9781234567891', N'全新', CAST(N'2025-09-18T18:28:42.0666667' AS DateTime2), 1)
INSERT [dbo].[Listings] ([ListingID], [CategoryID], [PublisherID], [Title], [ISBN], [Condition], [CreatedAt], [IsAvailable]) VALUES (3, 8, 11, N'現代詩選集', N'9781234567892', N'八成新，書角微捲', CAST(N'2025-09-18T18:28:42.0666667' AS DateTime2), 1)
SET IDENTITY_INSERT [dbo].[Listings] OFF
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([MemberID], [UserID], [Username], [Email], [Phone], [Role], [Status], [TotalBooks], [TotalBorrows], [CreatedAt], [UpdatedAt]) VALUES (1, 1, N'alice', N'alice@example.com', N'0912-000-001', 0, 0, 0, 0, CAST(N'2025-08-25T23:39:55.0735292' AS DateTime2), CAST(N'2025-09-08T14:47:39.7119426' AS DateTime2))
INSERT [dbo].[Members] ([MemberID], [UserID], [Username], [Email], [Phone], [Role], [Status], [TotalBooks], [TotalBorrows], [CreatedAt], [UpdatedAt]) VALUES (2, 1, N'bob', N'bob@example.com', N'0912-000-002', 0, 0, 0, 0, CAST(N'2025-08-25T23:39:55.0735292' AS DateTime2), CAST(N'2025-09-08T14:47:39.7119426' AS DateTime2))
INSERT [dbo].[Members] ([MemberID], [UserID], [Username], [Email], [Phone], [Role], [Status], [TotalBooks], [TotalBorrows], [CreatedAt], [UpdatedAt]) VALUES (3, 1, N'cindy', NULL, NULL, 0, 0, 0, 0, CAST(N'2025-08-25T23:39:55.0735292' AS DateTime2), CAST(N'2025-09-08T14:47:39.7119426' AS DateTime2))
GO
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderAddresses] ON 

INSERT [dbo].[OrderAddresses] ([OrderAddressID], [OrderID], [AddressType], [Address], [ContactName], [Phone], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 0, N'台北市信義區信義路1段1號', N'王小明', N'0912345678', CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2), CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2))
INSERT [dbo].[OrderAddresses] ([OrderAddressID], [OrderID], [AddressType], [Address], [ContactName], [Phone], [CreatedAt], [UpdatedAt]) VALUES (2, 2, 0, N'新北市板橋區中山路100號', N'李小華', N'0922333444', CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2), CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2))
INSERT [dbo].[OrderAddresses] ([OrderAddressID], [OrderID], [AddressType], [Address], [ContactName], [Phone], [CreatedAt], [UpdatedAt]) VALUES (3, 3, 0, N'台中市西屯區文心路200號', N'張美麗', N'0933555777', CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2), CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[OrderAddresses] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderCouponSnapshots] ON 

INSERT [dbo].[OrderCouponSnapshots] ([OrderCouponSnapID], [OrderID], [MemberCouponID], [CouponID], [CouponTypeSnap], [CouponValueSnap], [CouponNameSnap], [CouponDiscountAmount], [CreatedAt]) VALUES (1, 1112, NULL, 4, 1, CAST(10.00 AS Decimal(10, 2)), N'九折測試', CAST(100.00 AS Decimal(10, 2)), CAST(N'2025-09-13T17:29:09.1945817' AS DateTime2))
INSERT [dbo].[OrderCouponSnapshots] ([OrderCouponSnapID], [OrderID], [MemberCouponID], [CouponID], [CouponTypeSnap], [CouponValueSnap], [CouponNameSnap], [CouponDiscountAmount], [CreatedAt]) VALUES (2, 1113, NULL, 4, 1, CAST(10.00 AS Decimal(10, 2)), N'九折測試', CAST(100.00 AS Decimal(10, 2)), CAST(N'2025-09-13T19:23:33.2543529' AS DateTime2))
INSERT [dbo].[OrderCouponSnapshots] ([OrderCouponSnapID], [OrderID], [MemberCouponID], [CouponID], [CouponTypeSnap], [CouponValueSnap], [CouponNameSnap], [CouponDiscountAmount], [CreatedAt]) VALUES (7, 1118, NULL, 4, 1, CAST(10.00 AS Decimal(10, 2)), N'九折測試', CAST(100.00 AS Decimal(10, 2)), CAST(N'2025-09-18T03:57:54.6301523' AS DateTime2))
SET IDENTITY_INSERT [dbo].[OrderCouponSnapshots] OFF
GO
SET IDENTITY_INSERT [dbo].[OrderDetail] ON 

INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [BookID], [ProductName], [Quantity], [UnitPrice], [ProductDiscountAmount], [CreatedAt]) VALUES (1, 1, 1, N'C# 程式設計入門', 2, CAST(540.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-09-18T18:37:01.2100000' AS DateTime2))
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [BookID], [ProductName], [Quantity], [UnitPrice], [ProductDiscountAmount], [CreatedAt]) VALUES (2, 1, 5, N'JavaScript 網頁互動設計', 1, CAST(585.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-09-18T18:37:01.2100000' AS DateTime2))
INSERT [dbo].[OrderDetail] ([OrderDetailID], [OrderID], [BookID], [ProductName], [Quantity], [UnitPrice], [ProductDiscountAmount], [CreatedAt]) VALUES (3, 1, 12, N'軟體工程導論', 1, CAST(684.00 AS Decimal(10, 2)), CAST(0.00 AS Decimal(10, 2)), CAST(N'2025-09-18T18:37:01.2100000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[OrderDetail] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [TotalAmount], [Status], [DiscountAmount], [DiscountCode], [CreatedAt], [MemberCouponID], [CouponTypeSnap], [CouponValueSnap], [CouponNameSnap], [CouponDiscountAmount], [MemberID], [Notes]) VALUES (1, 1, CAST(N'2025-09-18T00:00:00.0000000' AS DateTime2), CAST(1220.00 AS Decimal(10, 2)), 0, NULL, NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, NULL, NULL, NULL, CAST(0.00 AS Decimal(10, 2)), NULL, NULL)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [TotalAmount], [Status], [DiscountAmount], [DiscountCode], [CreatedAt], [MemberCouponID], [CouponTypeSnap], [CouponValueSnap], [CouponNameSnap], [CouponDiscountAmount], [MemberID], [Notes]) VALUES (2, 2, CAST(N'2025-09-11T00:00:00.0000000' AS DateTime2), CAST(800.00 AS Decimal(10, 2)), 1, NULL, N'DISCOUNT50', CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, 0, CAST(50.00 AS Decimal(10, 2)), NULL, CAST(50.00 AS Decimal(10, 2)), NULL, NULL)
INSERT [dbo].[Orders] ([OrderID], [CustomerID], [OrderDate], [TotalAmount], [Status], [DiscountAmount], [DiscountCode], [CreatedAt], [MemberCouponID], [CouponTypeSnap], [CouponValueSnap], [CouponNameSnap], [CouponDiscountAmount], [MemberID], [Notes]) VALUES (3, 3, CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2), CAST(1500.00 AS Decimal(10, 2)), 2, NULL, NULL, CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2), NULL, NULL, NULL, NULL, CAST(0.00 AS Decimal(10, 2)), NULL, NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
INSERT [dbo].[Permission_Features] ([PermissionID], [FeatureID]) VALUES (1, 1)
INSERT [dbo].[Permission_Features] ([PermissionID], [FeatureID]) VALUES (1, 2)
INSERT [dbo].[Permission_Features] ([PermissionID], [FeatureID]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([PermissionID], [PermKey], [PermName], [PermGroup], [Note]) VALUES (1, N'ADMIN', N'???', N'Core', NULL)
INSERT [dbo].[Permissions] ([PermissionID], [PermKey], [PermName], [PermGroup], [Note]) VALUES (2, N'VENDOR', N'??', N'Core', NULL)
INSERT [dbo].[Permissions] ([PermissionID], [PermKey], [PermName], [PermGroup], [Note]) VALUES (3, N'SALES', N'??', N'Core', NULL)
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[PointsLedger] ON 

INSERT [dbo].[PointsLedger] ([LedgerID], [MemberID], [Delta], [ReasonCode], [OrderID], [CreatedAt], [ExternalOrderNo]) VALUES (2, 1, 1, NULL, NULL, CAST(N'2025-09-05T15:05:52.1933434+00:00' AS DateTimeOffset), NULL)
INSERT [dbo].[PointsLedger] ([LedgerID], [MemberID], [Delta], [ReasonCode], [OrderID], [CreatedAt], [ExternalOrderNo]) VALUES (3, 1, -1, NULL, NULL, CAST(N'2025-09-05T15:06:02.3871367+00:00' AS DateTimeOffset), NULL)
INSERT [dbo].[PointsLedger] ([LedgerID], [MemberID], [Delta], [ReasonCode], [OrderID], [CreatedAt], [ExternalOrderNo]) VALUES (4, 1, 1, N'1', NULL, CAST(N'2025-09-05T15:06:15.3098518+00:00' AS DateTimeOffset), NULL)
SET IDENTITY_INSERT [dbo].[PointsLedger] OFF
GO
SET IDENTITY_INSERT [dbo].[Publishers] ON 

INSERT [dbo].[Publishers] ([PublisherID], [PublisherName], [Slug], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (3, N'網頁科技', N'web-tech', 0, CAST(N'2025-09-18T16:25:03.4800000' AS DateTime2), CAST(N'2025-09-18T16:25:03.4800000' AS DateTime2))
INSERT [dbo].[Publishers] ([PublisherID], [PublisherName], [Slug], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (4, N'數據出版社', N'data-publisher', 0, CAST(N'2025-09-18T16:25:03.4800000' AS DateTime2), CAST(N'2025-09-18T16:25:03.4800000' AS DateTime2))
INSERT [dbo].[Publishers] ([PublisherID], [PublisherName], [Slug], [IsDeleted], [CreatedAt], [UpdatedAt]) VALUES (5, N'前端出版社', N'frontend-publisher', 0, CAST(N'2025-09-18T16:25:03.4800000' AS DateTime2), CAST(N'2025-09-18T16:25:03.4800000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Publishers] OFF
GO
SET IDENTITY_INSERT [dbo].[Rentals] ON 

INSERT [dbo].[Rentals] ([RentalID], [OrderID], [ItemName], [RentalStart], [RentalEnd], [ReturnedDate], [Status]) VALUES (1, 1, N'Python 書籍租借', CAST(N'2025-09-18T17:34:20.2500000' AS DateTime2), CAST(N'2025-09-25T17:34:20.2500000' AS DateTime2), NULL, 0)
INSERT [dbo].[Rentals] ([RentalID], [OrderID], [ItemName], [RentalStart], [RentalEnd], [ReturnedDate], [Status]) VALUES (2, 2, N'C# 書籍租借', CAST(N'2025-09-18T17:34:20.2500000' AS DateTime2), CAST(N'2025-10-02T17:34:20.2500000' AS DateTime2), NULL, 0)
INSERT [dbo].[Rentals] ([RentalID], [OrderID], [ItemName], [RentalStart], [RentalEnd], [ReturnedDate], [Status]) VALUES (3, 3, N'Java 書籍租借', CAST(N'2025-09-18T17:34:20.2500000' AS DateTime2), CAST(N'2025-09-25T17:34:20.2500000' AS DateTime2), NULL, 0)
SET IDENTITY_INSERT [dbo].[Rentals] OFF
GO
SET IDENTITY_INSERT [dbo].[Reservations] ON 

INSERT [dbo].[Reservations] ([ReservationID], [ListingID], [MemberID], [ReservationAt], [ExpiresAt], [ReadyAt], [Status], [CreatedAt]) VALUES (1, 5, 1, CAST(N'2025-09-19T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2025-10-04T09:54:10.6158520' AS DateTime2), 1, CAST(N'2025-09-19T09:55:11.4892483' AS DateTime2))
INSERT [dbo].[Reservations] ([ReservationID], [ListingID], [MemberID], [ReservationAt], [ExpiresAt], [ReadyAt], [Status], [CreatedAt]) VALUES (2, 31, 6, CAST(N'2025-09-19T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2025-09-19T15:12:11.7004889' AS DateTime2), 4, CAST(N'2025-09-19T14:59:49.4200334' AS DateTime2))
INSERT [dbo].[Reservations] ([ReservationID], [ListingID], [MemberID], [ReservationAt], [ExpiresAt], [ReadyAt], [Status], [CreatedAt]) VALUES (3, 31, 4, CAST(N'2025-09-19T00:00:00.0000000' AS DateTime2), NULL, CAST(N'2025-09-19T15:53:28.3126269' AS DateTime2), 4, CAST(N'2025-09-19T15:53:05.4321133' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Reservations] OFF
GO
SET IDENTITY_INSERT [dbo].[Returns] ON 

INSERT [dbo].[Returns] ([ReturnID], [OrderID], [ReturnReason], [ReturnType], [Status], [ReturnedDate]) VALUES (1, 2, N'商品破損', 1, 1, NULL)
INSERT [dbo].[Returns] ([ReturnID], [OrderID], [ReturnReason], [ReturnType], [Status], [ReturnedDate]) VALUES (2, 4, N'整單退貨', 0, 0, NULL)
INSERT [dbo].[Returns] ([ReturnID], [OrderID], [ReturnReason], [ReturnType], [Status], [ReturnedDate]) VALUES (3, 1, NULL, 1, 0, CAST(N'2025-09-18T17:57:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Returns] OFF
GO
SET IDENTITY_INSERT [dbo].[ReviewModerations] ON 

INSERT [dbo].[ReviewModerations] ([ModerationID], [ReviewID], [Decision], [Reasons], [ReviewedBy], [ReviewedAt], [RuleSnapshot]) VALUES (1, 12, 1, N'[Warn] RepeatedContentHintRule: 疑似重複評論', NULL, CAST(N'2025-09-14T12:47:57.4638302' AS DateTime2), N'v1.0.0|RepeatedContentHintRule')
INSERT [dbo].[ReviewModerations] ([ModerationID], [ReviewID], [Decision], [Reasons], [ReviewedBy], [ReviewedAt], [RuleSnapshot]) VALUES (2, 19, 2, N'[Block] ForbiddenKeywordsRule: 包含不雅字詞：白癡 | [Warn] RepeatedContentRule: 重複評論(送人工)', NULL, CAST(N'2025-09-15T03:45:32.1824089' AS DateTime2), N'v1.0.0|MinLengthRule,RatingRangeRule,NoUrlOrContactRule,NoSelfReviewRule,ForbiddenKeywordsRule,RepeatedContentRule')
INSERT [dbo].[ReviewModerations] ([ModerationID], [ReviewID], [Decision], [Reasons], [ReviewedBy], [ReviewedAt], [RuleSnapshot]) VALUES (3, 18, 4, N'不符合規範', 1, CAST(N'2025-09-17T08:40:41.5147249' AS DateTime2), N'')
SET IDENTITY_INSERT [dbo].[ReviewModerations] OFF
GO
SET IDENTITY_INSERT [dbo].[Reviews] ON 

INSERT [dbo].[Reviews] ([ReviewID], [MemberID], [TargetType], [TargetID], [Rating], [Content], [ImageUrls], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, 1, 0, 1001, 5, N'這是一則超過十個字的正常評論', NULL, 2, CAST(N'2025-09-14T20:27:39.8708521' AS DateTime2), CAST(N'2025-09-17T09:23:16.2447559' AS DateTime2))
INSERT [dbo].[Reviews] ([ReviewID], [MemberID], [TargetType], [TargetID], [Rating], [Content], [ImageUrls], [Status], [CreatedAt], [UpdatedAt]) VALUES (4, 1, 0, 1001, 5, N'這是一則超過十個字的正常評論', NULL, 1, CAST(N'2025-09-14T20:30:15.1490982' AS DateTime2), CAST(N'2025-09-17T09:23:14.1476436' AS DateTime2))
INSERT [dbo].[Reviews] ([ReviewID], [MemberID], [TargetType], [TargetID], [Rating], [Content], [ImageUrls], [Status], [CreatedAt], [UpdatedAt]) VALUES (7, 1, 0, 1001, 5, N'這是一則超過十個字的正常評論', NULL, 1, CAST(N'2025-09-14T20:31:04.1833308' AS DateTime2), CAST(N'2025-09-17T09:22:56.9446194' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Reviews] OFF
GO
INSERT [dbo].[RolePermissions] ([RoleID], [PermissionID]) VALUES (1, 1)
INSERT [dbo].[RolePermissions] ([RoleID], [PermissionID]) VALUES (1, 2)
INSERT [dbo].[RolePermissions] ([RoleID], [PermissionID]) VALUES (1, 3)
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([RoleID], [RoleCode], [RoleName], [RoleScope], [Description]) VALUES (1, N'ADMIN', N'?????', 2, N'????')
INSERT [dbo].[Roles] ([RoleID], [RoleCode], [RoleName], [RoleScope], [Description]) VALUES (2, N'STAFF', N'????', 2, N'??????')
INSERT [dbo].[Roles] ([RoleID], [RoleCode], [RoleName], [RoleScope], [Description]) VALUES (3, N'VENDOR', N'??', 2, N'??????????')
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[RuleApplications] ON 

INSERT [dbo].[RuleApplications] ([RuleAppID], [ExternalOrderNo], [MemberID], [CouponCodeSnap], [CouponTypeSnap], [CouponValueSnap], [CouponDiscountAmount], [PointsUsed], [Subtotal], [Payable], [CreatedAt], [Status], [RefundedAt]) VALUES (1, N'S-20250914-000123', 1, N'TEST90', 1, CAST(10.00 AS Decimal(10, 2)), CAST(100.00 AS Decimal(10, 2)), 0, CAST(1000.00 AS Decimal(10, 2)), CAST(900.00 AS Decimal(10, 2)), CAST(N'2025-09-14T07:35:58.0000000' AS DateTime2), N'REFUNDED', CAST(N'2025-09-14T09:17:12.7636292' AS DateTime2))
INSERT [dbo].[RuleApplications] ([RuleAppID], [ExternalOrderNo], [MemberID], [CouponCodeSnap], [CouponTypeSnap], [CouponValueSnap], [CouponDiscountAmount], [PointsUsed], [Subtotal], [Payable], [CreatedAt], [Status], [RefundedAt]) VALUES (2, N'S-20250914-000124', 1, N'TEST90', 1, CAST(10.00 AS Decimal(10, 2)), CAST(100.00 AS Decimal(10, 2)), 10, CAST(1000.00 AS Decimal(10, 2)), CAST(890.00 AS Decimal(10, 2)), CAST(N'2025-09-14T09:04:09.0000000' AS DateTime2), N'APPLIED', NULL)
SET IDENTITY_INSERT [dbo].[RuleApplications] OFF
GO
SET IDENTITY_INSERT [dbo].[Shipments] ON 

INSERT [dbo].[Shipments] ([ShipmentID], [OrderID], [Provider], [AddressID], [TrackingNumber], [ShippedDate], [DeliveredDate], [Status], [CreatedAt], [UpdatedAt]) VALUES (1, 1, N'黑貓宅急便', NULL, N'TN000001', CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2), NULL, 0, CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2), CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2))
INSERT [dbo].[Shipments] ([ShipmentID], [OrderID], [Provider], [AddressID], [TrackingNumber], [ShippedDate], [DeliveredDate], [Status], [CreatedAt], [UpdatedAt]) VALUES (2, 2, N'宅配通', NULL, N'TN000002', CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2), NULL, 0, CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2), CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2))
INSERT [dbo].[Shipments] ([ShipmentID], [OrderID], [Provider], [AddressID], [TrackingNumber], [ShippedDate], [DeliveredDate], [Status], [CreatedAt], [UpdatedAt]) VALUES (3, 3, N'新竹物流', NULL, N'TN000003', CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2), NULL, 0, CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2), CAST(N'2025-09-18T17:34:20.2533333' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Shipments] OFF
GO
INSERT [dbo].[USER_PERMISSIONS] ([UserID], [PermissionID], [Mode]) VALUES (1, 1, 1)
INSERT [dbo].[USER_PERMISSIONS] ([UserID], [PermissionID], [Mode]) VALUES (1, 2, 1)
INSERT [dbo].[USER_PERMISSIONS] ([UserID], [PermissionID], [Mode]) VALUES (1, 3, 1)
GO
INSERT [dbo].[USER_ROLES] ([UserID], [RoleID]) VALUES (1, 1)
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [UserType], [Email], [Phone], [Status], [CreatedAt], [UpdatedAt], [LastLoginAt], [LockoutEndAt], [MustChangePassword], [PasswordHash], [DisplayName]) VALUES (1, 2, N'admin@bookstore.local', NULL, 1, CAST(N'2025-09-29T06:16:19.0979023' AS DateTime2), CAST(N'2025-10-02T02:54:04.7832107' AS DateTime2), CAST(N'2025-10-02T02:54:04.7817232' AS DateTime2), NULL, 0, N'Admin@12345!', NULL)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetRoleClaims_RoleId]    Script Date: 2025/10/2 上午 11:03:42 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetRoleClaims_RoleId] ON [dbo].[AspNetRoleClaims]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [RoleNameIndex]    Script Date: 2025/10/2 上午 11:03:42 ******/
CREATE UNIQUE NONCLUSTERED INDEX [RoleNameIndex] ON [dbo].[AspNetRoles]
(
	[NormalizedName] ASC
)
WHERE ([NormalizedName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserClaims_UserId]    Script Date: 2025/10/2 上午 11:03:42 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserClaims_UserId] ON [dbo].[AspNetUserClaims]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserLogins_UserId]    Script Date: 2025/10/2 上午 11:03:42 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserLogins_UserId] ON [dbo].[AspNetUserLogins]
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AspNetUserRoles_RoleId]    Script Date: 2025/10/2 上午 11:03:42 ******/
CREATE NONCLUSTERED INDEX [IX_AspNetUserRoles_RoleId] ON [dbo].[AspNetUserRoles]
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [EmailIndex]    Script Date: 2025/10/2 上午 11:03:42 ******/
CREATE NONCLUSTERED INDEX [EmailIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedEmail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UserNameIndex]    Script Date: 2025/10/2 上午 11:03:42 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UserNameIndex] ON [dbo].[AspNetUsers]
(
	[NormalizedUserName] ASC
)
WHERE ([NormalizedUserName] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Authors__BC7B5FB60C3F1CD1]    Script Date: 2025/10/2 上午 11:03:42 ******/
ALTER TABLE [dbo].[Authors] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Books__447D36EA7F4A09AB]    Script Date: 2025/10/2 上午 11:03:42 ******/
ALTER TABLE [dbo].[Books] ADD UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Categori__BC7B5FB613644732]    Script Date: 2025/10/2 上午 11:03:42 ******/
ALTER TABLE [dbo].[Categories] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Coupons__A25C5AA77C48C1F6]    Script Date: 2025/10/2 上午 11:03:42 ******/
ALTER TABLE [dbo].[Coupons] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Features__A25C5AA7E25439E2]    Script Date: 2025/10/2 上午 11:03:42 ******/
ALTER TABLE [dbo].[Features] ADD UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MemberCr__B0C3AC4623571ACC]    Script Date: 2025/10/2 上午 11:03:42 ******/
ALTER TABLE [dbo].[MemberCredentials] ADD UNIQUE NONCLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ_MemberExternal]    Script Date: 2025/10/2 上午 11:03:42 ******/
ALTER TABLE [dbo].[MemberExternalLogins] ADD  CONSTRAINT [UQ_MemberExternal] UNIQUE NONCLUSTERED 
(
	[Provider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Order_Address]    Script Date: 2025/10/2 上午 11:03:42 ******/
ALTER TABLE [dbo].[OrderAddresses] ADD  CONSTRAINT [UQ_Order_Address] UNIQUE NONCLUSTERED 
(
	[OrderID] ASC,
	[AddressType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissi__747A49E662DF19E9]    Script Date: 2025/10/2 上午 11:03:42 ******/
ALTER TABLE [dbo].[Permissions] ADD UNIQUE NONCLUSTERED 
(
	[PermKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Permissi__6EAD2017FBA58C58]    Script Date: 2025/10/2 上午 11:03:42 ******/
ALTER TABLE [dbo].[PermissionSets] ADD UNIQUE NONCLUSTERED 
(
	[SetCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Publishe__BC7B5FB614747C52]    Script Date: 2025/10/2 上午 11:03:42 ******/
ALTER TABLE [dbo].[Publishers] ADD UNIQUE NONCLUSTERED 
(
	[Slug] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__D62CB59C374CEC81]    Script Date: 2025/10/2 上午 11:03:42 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[RoleCode] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SUPPLIER_USERS_UserID]    Script Date: 2025/10/2 上午 11:03:42 ******/
CREATE NONCLUSTERED INDEX [IX_SUPPLIER_USERS_UserID] ON [dbo].[SUPPLIER_USERS]
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Authors] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Authors] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Authors] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Blacklists] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BookAuthors] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BookImages] ADD  DEFAULT ((0)) FOR [IsPrimary]
GO
ALTER TABLE [dbo].[BookImages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BookImages] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[BookInventory] ADD  DEFAULT ((0)) FOR [OnHand]
GO
ALTER TABLE [dbo].[BookInventory] ADD  DEFAULT ((0)) FOR [Reserved]
GO
ALTER TABLE [dbo].[BookInventory] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BookInventory] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [ListPrice]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [SalePrice]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Books] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[BorrowRecords] ADD  DEFAULT (getdate()) FOR [BorrowDate]
GO
ALTER TABLE [dbo].[BorrowRecords] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[BorrowRecords] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Categories] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [AutoAssignOnRegister]
GO
ALTER TABLE [dbo].[Coupons] ADD  DEFAULT ((0)) FOR [RequireLogin]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customers] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ImportMappings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ImportStaging] ADD  DEFAULT ((0)) FOR [IsValid]
GO
ALTER TABLE [dbo].[ImportStaging] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ListingAuthors] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ListingImages] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Listings] ADD  DEFAULT ((1)) FOR [IsAvailable]
GO
ALTER TABLE [dbo].[MemberCoupons] ADD  DEFAULT (getdate()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[MemberCoupons] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[MemberCoupons] ADD  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[MemberCredentials] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[MemberExternalLogins] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MemberPoints] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[MemberPoints] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT ((0)) FOR [Role]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT ((0)) FOR [TotalBooks]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT ((0)) FOR [TotalBorrows]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[OrderCouponSnapshots] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OrderDetail] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [CouponDiscountAmount]
GO
ALTER TABLE [dbo].[PermissionSets] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PermissionSets] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[PointsLedger] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Publishers] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Publishers] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Publishers] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[RawImports] ADD  DEFAULT (getdate()) FOR [ImportedAt]
GO
ALTER TABLE [dbo].[RawImports] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Rentals] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[ReportDefinition] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ReportDefinition] ADD  DEFAULT ((0)) FOR [IsSystem]
GO
ALTER TABLE [dbo].[ReportDefinition] ADD  DEFAULT ((0)) FOR [SortOrder]
GO
ALTER TABLE [dbo].[ReportDefinition] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReportDefinition] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ReportExportLog] ADD  DEFAULT (getdate()) FOR [ExportAt]
GO
ALTER TABLE [dbo].[ReportFilter] ADD  DEFAULT ((1)) FOR [OrderIndex]
GO
ALTER TABLE [dbo].[ReportFilter] ADD  DEFAULT ((0)) FOR [IsRequired]
GO
ALTER TABLE [dbo].[ReportFilter] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ReportFilter] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReportFilter] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT (getdate()) FOR [ReservationAt]
GO
ALTER TABLE [dbo].[Reservations] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReviewRuleSettings] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[RuleApplications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Shipments] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[SUPPLIER_USERS] ADD  CONSTRAINT [DF_SUPPLIER_USERS_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[SUPPLIERS] ADD  CONSTRAINT [DF_SUPPLIERS_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[USER_PERMISSIONS] ADD  CONSTRAINT [DF_USER_PERMISSIONS_Mode]  DEFAULT ((1)) FOR [Mode]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((0)) FOR [MustChangePassword]
GO
ALTER TABLE [dbo].[Users] ADD  CONSTRAINT [DF_USERS_DisplayName]  DEFAULT (NULL) FOR [DisplayName]
GO
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO
ALTER TABLE [dbo].[MemberPoints]  WITH CHECK ADD  CONSTRAINT [FK_MemberPoints_Members] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[MemberPoints] CHECK CONSTRAINT [FK_MemberPoints_Members]
GO
ALTER TABLE [dbo].[Permission_Features]  WITH CHECK ADD  CONSTRAINT [FK_PERM_FEAT_FEATS] FOREIGN KEY([FeatureID])
REFERENCES [dbo].[Features] ([FeatureID])
GO
ALTER TABLE [dbo].[Permission_Features] CHECK CONSTRAINT [FK_PERM_FEAT_FEATS]
GO
ALTER TABLE [dbo].[Permission_Features]  WITH CHECK ADD  CONSTRAINT [FK_PERM_FEAT_PERMS] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permissions] ([PermissionID])
GO
ALTER TABLE [dbo].[Permission_Features] CHECK CONSTRAINT [FK_PERM_FEAT_PERMS]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_PERMS_PERMS] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permissions] ([PermissionID])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_ROLE_PERMS_PERMS]
GO
ALTER TABLE [dbo].[RolePermissions]  WITH CHECK ADD  CONSTRAINT [FK_ROLE_PERMS_ROLES] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[RolePermissions] CHECK CONSTRAINT [FK_ROLE_PERMS_ROLES]
GO
ALTER TABLE [dbo].[SUPPLIER_USERS]  WITH CHECK ADD  CONSTRAINT [FK_SUPPLIER_USERS_SUPPLIERS] FOREIGN KEY([SupplierID])
REFERENCES [dbo].[SUPPLIERS] ([SupplierID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SUPPLIER_USERS] CHECK CONSTRAINT [FK_SUPPLIER_USERS_SUPPLIERS]
GO
ALTER TABLE [dbo].[SUPPLIER_USERS]  WITH CHECK ADD  CONSTRAINT [FK_SUPPLIER_USERS_USERS] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SUPPLIER_USERS] CHECK CONSTRAINT [FK_SUPPLIER_USERS_USERS]
GO
ALTER TABLE [dbo].[USER_PERMISSIONS]  WITH CHECK ADD  CONSTRAINT [FK_USER_PERMS_PERMS] FOREIGN KEY([PermissionID])
REFERENCES [dbo].[Permissions] ([PermissionID])
GO
ALTER TABLE [dbo].[USER_PERMISSIONS] CHECK CONSTRAINT [FK_USER_PERMS_PERMS]
GO
ALTER TABLE [dbo].[USER_PERMISSIONS]  WITH CHECK ADD  CONSTRAINT [FK_USER_PERMS_USERS] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[USER_PERMISSIONS] CHECK CONSTRAINT [FK_USER_PERMS_USERS]
GO
ALTER TABLE [dbo].[USER_ROLES]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLES_ROLES] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[USER_ROLES] CHECK CONSTRAINT [FK_USER_ROLES_ROLES]
GO
ALTER TABLE [dbo].[USER_ROLES]  WITH CHECK ADD  CONSTRAINT [FK_USER_ROLES_USERS] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[USER_ROLES] CHECK CONSTRAINT [FK_USER_ROLES_USERS]
GO
USE [master]
GO
