USE [master]
GO
/****** Object:  Database [Member]    Script Date: 2025/9/17 下午 01:47:41 ******/
CREATE DATABASE [Member]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Member', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Member.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Member_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\Member_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Member].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Member]
GO
/****** Object:  Table [dbo].[Coupons]    Script Date: 2025/9/17 下午 01:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Coupons](
	[CouponID] [int] IDENTITY(1,1) NOT NULL,
	[Code] [nvarchar](32) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](400) NULL,
	[DiscountType] [tinyint] NOT NULL,
	[DiscountValue] [decimal](10, 2) NOT NULL,
	[MinOrderAmount] [decimal](10, 2) NULL,
	[MaxDiscountAmount] [decimal](10, 2) NULL,
	[StartAt] [datetime2](7) NULL,
	[EndAt] [datetime2](7) NULL,
	[IsActive] [bit] NOT NULL,
	[MaxUsesTotal] [int] NULL,
	[MaxUsesPerMember] [int] NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[RowVer] [timestamp] NOT NULL,
	[RequireLogin] [bit] NOT NULL,
	[AutoAssignOnRegister] [bit] NOT NULL,
 CONSTRAINT [PK_Coupons] PRIMARY KEY CLUSTERED 
(
	[CouponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UX_Coupons_Code] UNIQUE NONCLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberCoupons]    Script Date: 2025/9/17 下午 01:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberCoupons](
	[MemberCouponID] [bigint] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[CouponID] [int] NOT NULL,
	[AssignedByAdminId] [int] NULL,
	[AssignedAt] [datetime2](7) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[UsedAt] [datetime2](7) NULL,
	[UsedOrderId] [bigint] NULL,
	[RedeemTxnId] [uniqueidentifier] NULL,
	[RowVer] [timestamp] NOT NULL,
	[IsUsed] [bit] NOT NULL,
 CONSTRAINT [PK_MemberCoupons] PRIMARY KEY CLUSTERED 
(
	[MemberCouponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MemberPoints]    Script Date: 2025/9/17 下午 01:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MemberPoints](
	[MemberID] [int] NOT NULL,
	[Balance] [int] NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK__MemberPo__0CF04B3889683100] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 2025/9/17 下午 01:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[Account] [nvarchar](50) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](254) NULL,
	[Phone] [varchar](20) NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UserID] [int] NULL,
	[Role] [tinyint] NOT NULL,
	[TotalBooks] [int] NULL,
	[TotalBorrows] [int] NULL,
 CONSTRAINT [PK_Members] PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_Members_Account] UNIQUE NONCLUSTERED 
(
	[Account] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderCouponSnapshots]    Script Date: 2025/9/17 下午 01:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderCouponSnapshots](
	[OrderCouponSnapID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[MemberCouponID] [bigint] NULL,
	[CouponID] [int] NOT NULL,
	[CouponTypeSnap] [tinyint] NOT NULL,
	[CouponValueSnap] [decimal](10, 2) NOT NULL,
	[CouponNameSnap] [nvarchar](100) NULL,
	[CouponDiscountAmount] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_OrderCouponSnapshots] PRIMARY KEY CLUSTERED 
(
	[OrderCouponSnapID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 2025/9/17 下午 01:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1001,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[OrderDate] [datetime2](7) NOT NULL,
	[Status] [tinyint] NOT NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[Notes] [nvarchar](200) NULL,
	[DiscountAmount] [decimal](10, 2) NULL,
	[DiscountCode] [nvarchar](50) NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[MemberCouponID] [bigint] NULL,
	[CouponTypeSnap] [tinyint] NULL,
	[CouponValueSnap] [decimal](10, 2) NULL,
	[CouponNameSnap] [nvarchar](100) NULL,
	[CouponDiscountAmount] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PointsLedger]    Script Date: 2025/9/17 下午 01:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PointsLedger](
	[LedgerID] [bigint] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[Delta] [int] NOT NULL,
	[ReasonCode] [nvarchar](50) NULL,
	[OrderID] [int] NULL,
	[CreatedAt] [datetimeoffset](7) NOT NULL,
	[ExternalOrderNo] [nvarchar](64) NULL,
 CONSTRAINT [PK_PointsLedger] PRIMARY KEY CLUSTERED 
(
	[LedgerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewModerations]    Script Date: 2025/9/17 下午 01:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewModerations](
	[ModerationID] [bigint] IDENTITY(1,1) NOT NULL,
	[ReviewID] [int] NOT NULL,
	[Decision] [tinyint] NOT NULL,
	[Reasons] [nvarchar](2000) NULL,
	[ReviewedBy] [int] NULL,
	[ReviewedAt] [datetime2](7) NOT NULL,
	[RuleSnapshot] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[ModerationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ReviewRuleSettings]    Script Date: 2025/9/17 下午 01:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ReviewRuleSettings](
	[Id] [int] NOT NULL,
	[MinContentLength] [int] NOT NULL,
	[RatingMin] [tinyint] NOT NULL,
	[RatingMax] [tinyint] NOT NULL,
	[BlockSelfReview] [bit] NOT NULL,
	[TargetTypeForMember] [tinyint] NOT NULL,
	[ForbidUrls] [bit] NOT NULL,
	[DuplicateWindowHours] [int] NOT NULL,
	[DuplicatePolicy] [tinyint] NOT NULL,
	[ForbiddenKeywords] [nvarchar](max) NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
	[UpdatedBy] [int] NULL,
 CONSTRAINT [PK_ReviewRuleSettings] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reviews]    Script Date: 2025/9/17 下午 01:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reviews](
	[ReviewID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[TargetType] [tinyint] NOT NULL,
	[TargetID] [int] NOT NULL,
	[Rating] [tinyint] NOT NULL,
	[Content] [nvarchar](2000) NOT NULL,
	[ImageUrls] [nvarchar](2000) NULL,
	[Status] [tinyint] NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[UpdatedAt] [datetime2](7) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RuleApplications]    Script Date: 2025/9/17 下午 01:47:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RuleApplications](
	[RuleAppID] [int] IDENTITY(1,1) NOT NULL,
	[ExternalOrderNo] [nvarchar](64) NOT NULL,
	[MemberID] [int] NOT NULL,
	[CouponCodeSnap] [nvarchar](32) NULL,
	[CouponTypeSnap] [tinyint] NULL,
	[CouponValueSnap] [decimal](10, 2) NULL,
	[CouponDiscountAmount] [decimal](10, 2) NOT NULL,
	[PointsUsed] [int] NOT NULL,
	[Subtotal] [decimal](10, 2) NOT NULL,
	[Payable] [decimal](10, 2) NOT NULL,
	[CreatedAt] [datetime2](0) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[RefundedAt] [datetime2](7) NULL,
 CONSTRAINT [PK__RuleAppl__70448604C9545B62] PRIMARY KEY CLUSTERED 
(
	[RuleAppID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Coupons_Date]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE NONCLUSTERED INDEX [IX_Coupons_Date] ON [dbo].[Coupons]
(
	[StartAt] ASC,
	[EndAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Coupons_IsActive]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE NONCLUSTERED INDEX [IX_Coupons_IsActive] ON [dbo].[Coupons]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MemberCoupons_Coupon]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE NONCLUSTERED INDEX [IX_MemberCoupons_Coupon] ON [dbo].[MemberCoupons]
(
	[CouponID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MemberCoupons_Member]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE NONCLUSTERED INDEX [IX_MemberCoupons_Member] ON [dbo].[MemberCoupons]
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_MemberCoupons_Status]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE NONCLUSTERED INDEX [IX_MemberCoupons_Status] ON [dbo].[MemberCoupons]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_MemberCoupons_Member_Coupon_OnlyOneUnused]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_MemberCoupons_Member_Coupon_OnlyOneUnused] ON [dbo].[MemberCoupons]
(
	[MemberID] ASC,
	[CouponID] ASC
)
WHERE ([Status]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_MemberCoupons_Member_Coupon_Status0]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_MemberCoupons_Member_Coupon_Status0] ON [dbo].[MemberCoupons]
(
	[MemberID] ASC,
	[CouponID] ASC
)
WHERE ([Status]=(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_MemberCoupons_RedeemTxnId_NotNull]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_MemberCoupons_RedeemTxnId_NotNull] ON [dbo].[MemberCoupons]
(
	[RedeemTxnId] ASC
)
WHERE ([RedeemTxnId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Members_Username]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE NONCLUSTERED INDEX [IX_Members_Username] ON [dbo].[Members]
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_Members_UserID]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_Members_UserID] ON [dbo].[Members]
(
	[UserID] ASC
)
WHERE ([UserID] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_MemberID]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_MemberID] ON [dbo].[Orders]
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_OrderDate]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE NONCLUSTERED INDEX [IX_Orders_OrderDate] ON [dbo].[Orders]
(
	[OrderDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PointsLedger_CreatedAt]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE NONCLUSTERED INDEX [IX_PointsLedger_CreatedAt] ON [dbo].[PointsLedger]
(
	[CreatedAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PointsLedger_MemberID]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE NONCLUSTERED INDEX [IX_PointsLedger_MemberID] ON [dbo].[PointsLedger]
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PointsLedger_OrderID]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE NONCLUSTERED INDEX [IX_PointsLedger_OrderID] ON [dbo].[PointsLedger]
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_PointsLedger_Member_External]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_PointsLedger_Member_External] ON [dbo].[PointsLedger]
(
	[MemberID] ASC,
	[ExternalOrderNo] ASC
)
WHERE ([ExternalOrderNo] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ReviewModerations_ReviewID]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE NONCLUSTERED INDEX [IX_ReviewModerations_ReviewID] ON [dbo].[ReviewModerations]
(
	[ReviewID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_Member_CreatedAt]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_Member_CreatedAt] ON [dbo].[Reviews]
(
	[MemberID] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_Status_CreatedAt]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_Status_CreatedAt] ON [dbo].[Reviews]
(
	[Status] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Reviews_Target]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE NONCLUSTERED INDEX [IX_Reviews_Target] ON [dbo].[Reviews]
(
	[TargetType] ASC,
	[TargetID] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_RuleApplications_Coupon_Time]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE NONCLUSTERED INDEX [IX_RuleApplications_Coupon_Time] ON [dbo].[RuleApplications]
(
	[CouponCodeSnap] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_RuleApplications_Member_Time]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE NONCLUSTERED INDEX [IX_RuleApplications_Member_Time] ON [dbo].[RuleApplications]
(
	[MemberID] ASC,
	[CreatedAt] DESC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_RuleApplications_External]    Script Date: 2025/9/17 下午 01:47:42 ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_RuleApplications_External] ON [dbo].[RuleApplications]
(
	[ExternalOrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_DiscountType]  DEFAULT ((0)) FOR [DiscountType]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_UpdatedAt]  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_RequireLogin]  DEFAULT ((1)) FOR [RequireLogin]
GO
ALTER TABLE [dbo].[Coupons] ADD  CONSTRAINT [DF_Coupons_AutoAssign]  DEFAULT ((0)) FOR [AutoAssignOnRegister]
GO
ALTER TABLE [dbo].[MemberCoupons] ADD  CONSTRAINT [DF_MemberCoupons_AssignedAt]  DEFAULT (sysutcdatetime()) FOR [AssignedAt]
GO
ALTER TABLE [dbo].[MemberCoupons] ADD  CONSTRAINT [DF_MemberCoupons_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[MemberCoupons] ADD  CONSTRAINT [DF_MemberCoupons_IsUsed]  DEFAULT ((0)) FOR [IsUsed]
GO
ALTER TABLE [dbo].[MemberPoints] ADD  CONSTRAINT [DF__MemberPoi__Balan__3B40CD36]  DEFAULT ((0)) FOR [Balance]
GO
ALTER TABLE [dbo].[MemberPoints] ADD  CONSTRAINT [DF__MemberPoi__Updat__3C34F16F]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Members] ADD  CONSTRAINT [DF_Members_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Members] ADD  CONSTRAINT [DF_Members_Created]  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Members] ADD  CONSTRAINT [DF_Members_Updated]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Members] ADD  CONSTRAINT [DF_Members_Role]  DEFAULT ((0)) FOR [Role]
GO
ALTER TABLE [dbo].[OrderCouponSnapshots] ADD  CONSTRAINT [DF_Snap_Discount]  DEFAULT ((0)) FOR [CouponDiscountAmount]
GO
ALTER TABLE [dbo].[OrderCouponSnapshots] ADD  CONSTRAINT [DF_Snap_Created]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_OrderDate]  DEFAULT (sysdatetime()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Status]  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_Total]  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_CreatedAt]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  CONSTRAINT [DF_Orders_CouponDiscountAmount]  DEFAULT ((0)) FOR [CouponDiscountAmount]
GO
ALTER TABLE [dbo].[PointsLedger] ADD  CONSTRAINT [DF_PointsLedger_CreatedAt]  DEFAULT (sysdatetimeoffset()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ReviewModerations] ADD  DEFAULT (sysdatetime()) FOR [ReviewedAt]
GO
ALTER TABLE [dbo].[ReviewRuleSettings] ADD  CONSTRAINT [DF_RRS_MinLen]  DEFAULT ((10)) FOR [MinContentLength]
GO
ALTER TABLE [dbo].[ReviewRuleSettings] ADD  CONSTRAINT [DF_RRS_RatingMin]  DEFAULT ((1)) FOR [RatingMin]
GO
ALTER TABLE [dbo].[ReviewRuleSettings] ADD  CONSTRAINT [DF_RRS_RatingMax]  DEFAULT ((5)) FOR [RatingMax]
GO
ALTER TABLE [dbo].[ReviewRuleSettings] ADD  CONSTRAINT [DF_RRS_BlockSelf]  DEFAULT ((1)) FOR [BlockSelfReview]
GO
ALTER TABLE [dbo].[ReviewRuleSettings] ADD  CONSTRAINT [DF_RRS_TTMember]  DEFAULT ((2)) FOR [TargetTypeForMember]
GO
ALTER TABLE [dbo].[ReviewRuleSettings] ADD  CONSTRAINT [DF_RRS_ForbidUrls]  DEFAULT ((1)) FOR [ForbidUrls]
GO
ALTER TABLE [dbo].[ReviewRuleSettings] ADD  CONSTRAINT [DF_RRS_DupWin]  DEFAULT ((24)) FOR [DuplicateWindowHours]
GO
ALTER TABLE [dbo].[ReviewRuleSettings] ADD  CONSTRAINT [DF_RRS_DupPolicy]  DEFAULT ((1)) FOR [DuplicatePolicy]
GO
ALTER TABLE [dbo].[ReviewRuleSettings] ADD  CONSTRAINT [DF_RRS_UpdatedAt]  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT ((0)) FOR [Status]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Reviews] ADD  DEFAULT (sysdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[RuleApplications] ADD  CONSTRAINT [DF_RuleApps_CreatedAt]  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[RuleApplications] ADD  CONSTRAINT [DF__RuleAppli__Statu__7849DB76]  DEFAULT ('APPLIED') FOR [Status]
GO
ALTER TABLE [dbo].[MemberCoupons]  WITH CHECK ADD  CONSTRAINT [FK_MemberCoupons_Coupons] FOREIGN KEY([CouponID])
REFERENCES [dbo].[Coupons] ([CouponID])
GO
ALTER TABLE [dbo].[MemberCoupons] CHECK CONSTRAINT [FK_MemberCoupons_Coupons]
GO
ALTER TABLE [dbo].[MemberPoints]  WITH CHECK ADD  CONSTRAINT [FK_MemberPoints_Members] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[MemberPoints] CHECK CONSTRAINT [FK_MemberPoints_Members]
GO
ALTER TABLE [dbo].[OrderCouponSnapshots]  WITH CHECK ADD  CONSTRAINT [FK_OrderCouponSnapshots_Coupons] FOREIGN KEY([CouponID])
REFERENCES [dbo].[Coupons] ([CouponID])
GO
ALTER TABLE [dbo].[OrderCouponSnapshots] CHECK CONSTRAINT [FK_OrderCouponSnapshots_Coupons]
GO
ALTER TABLE [dbo].[OrderCouponSnapshots]  WITH CHECK ADD  CONSTRAINT [FK_OrderCouponSnapshots_MemberCoupons] FOREIGN KEY([MemberCouponID])
REFERENCES [dbo].[MemberCoupons] ([MemberCouponID])
GO
ALTER TABLE [dbo].[OrderCouponSnapshots] CHECK CONSTRAINT [FK_OrderCouponSnapshots_MemberCoupons]
GO
ALTER TABLE [dbo].[OrderCouponSnapshots]  WITH CHECK ADD  CONSTRAINT [FK_OrderCouponSnapshots_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[OrderCouponSnapshots] CHECK CONSTRAINT [FK_OrderCouponSnapshots_Orders]
GO
ALTER TABLE [dbo].[OrderCouponSnapshots]  WITH CHECK ADD  CONSTRAINT [FK_Snap_Coupons] FOREIGN KEY([CouponID])
REFERENCES [dbo].[Coupons] ([CouponID])
GO
ALTER TABLE [dbo].[OrderCouponSnapshots] CHECK CONSTRAINT [FK_Snap_Coupons]
GO
ALTER TABLE [dbo].[OrderCouponSnapshots]  WITH CHECK ADD  CONSTRAINT [FK_Snap_MemberCoupons] FOREIGN KEY([MemberCouponID])
REFERENCES [dbo].[MemberCoupons] ([MemberCouponID])
GO
ALTER TABLE [dbo].[OrderCouponSnapshots] CHECK CONSTRAINT [FK_Snap_MemberCoupons]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_MemberCoupons] FOREIGN KEY([MemberCouponID])
REFERENCES [dbo].[MemberCoupons] ([MemberCouponID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_MemberCoupons]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Members] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Members]
GO
ALTER TABLE [dbo].[PointsLedger]  WITH CHECK ADD  CONSTRAINT [FK_PointsLedger_Member] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[PointsLedger] CHECK CONSTRAINT [FK_PointsLedger_Member]
GO
ALTER TABLE [dbo].[PointsLedger]  WITH CHECK ADD  CONSTRAINT [FK_PointsLedger_Order] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[PointsLedger] CHECK CONSTRAINT [FK_PointsLedger_Order]
GO
ALTER TABLE [dbo].[RuleApplications]  WITH CHECK ADD  CONSTRAINT [FK_RuleApps_Members] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[RuleApplications] CHECK CONSTRAINT [FK_RuleApps_Members]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [CK_Coupons_Date] CHECK  (([EndAt] IS NULL OR [StartAt] IS NULL OR [EndAt]>=[StartAt]))
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [CK_Coupons_Date]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [CK_Coupons_DateRange] CHECK  (([EndAt] IS NULL OR [StartAt] IS NULL OR [StartAt]<[EndAt]))
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [CK_Coupons_DateRange]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [CK_Coupons_DiscountType] CHECK  (([DiscountType]=(1) OR [DiscountType]=(0)))
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [CK_Coupons_DiscountType]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [CK_Coupons_DiscountValue] CHECK  (([DiscountType]=(0) AND [DiscountValue]>(0) OR [DiscountType]=(1) AND [DiscountValue]>(0) AND [DiscountValue]<=(100)))
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [CK_Coupons_DiscountValue]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [CK_Coupons_DiscountValue_ByType] CHECK  (([DiscountType]=(1) AND [DiscountValue] IS NOT NULL AND ([DiscountValue]>=(0) AND [DiscountValue]<=(100)) OR [DiscountType]=(0) AND [DiscountValue] IS NOT NULL AND [DiscountValue]>=(0)))
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [CK_Coupons_DiscountValue_ByType]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [CK_Coupons_MaxDiscountAmount] CHECK  (([MaxDiscountAmount] IS NULL OR [MaxDiscountAmount]>=(0)))
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [CK_Coupons_MaxDiscountAmount]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [CK_Coupons_MaxUsesPerMember] CHECK  (([MaxUsesPerMember] IS NULL OR [MaxUsesPerMember]>=(0)))
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [CK_Coupons_MaxUsesPerMember]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [CK_Coupons_MaxUsesTotal] CHECK  (([MaxUsesTotal] IS NULL OR [MaxUsesTotal]>=(0)))
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [CK_Coupons_MaxUsesTotal]
GO
ALTER TABLE [dbo].[Coupons]  WITH CHECK ADD  CONSTRAINT [CK_Coupons_MinOrderAmount] CHECK  (([MinOrderAmount] IS NULL OR [MinOrderAmount]>=(0)))
GO
ALTER TABLE [dbo].[Coupons] CHECK CONSTRAINT [CK_Coupons_MinOrderAmount]
GO
ALTER TABLE [dbo].[MemberCoupons]  WITH CHECK ADD  CONSTRAINT [CK_MemberCoupons_Status] CHECK  (([Status]=(2) OR [Status]=(1) OR [Status]=(0)))
GO
ALTER TABLE [dbo].[MemberCoupons] CHECK CONSTRAINT [CK_MemberCoupons_Status]
GO
ALTER TABLE [dbo].[OrderCouponSnapshots]  WITH CHECK ADD  CONSTRAINT [CK_OrderCouponSnapshots_Type] CHECK  (([CouponTypeSnap]=(1) OR [CouponTypeSnap]=(0)))
GO
ALTER TABLE [dbo].[OrderCouponSnapshots] CHECK CONSTRAINT [CK_OrderCouponSnapshots_Type]
GO
ALTER TABLE [dbo].[OrderCouponSnapshots]  WITH CHECK ADD  CONSTRAINT [CK_OrderCouponSnapshots_Value] CHECK  (([CouponTypeSnap]=(1) AND ([CouponValueSnap]>=(0) AND [CouponValueSnap]<=(100)) OR [CouponTypeSnap]=(0)))
GO
ALTER TABLE [dbo].[OrderCouponSnapshots] CHECK CONSTRAINT [CK_OrderCouponSnapshots_Value]
GO
ALTER TABLE [dbo].[PointsLedger]  WITH CHECK ADD  CONSTRAINT [CK_PointsLedger_Delta_NonZero] CHECK  (([Delta]<>(0)))
GO
ALTER TABLE [dbo].[PointsLedger] CHECK CONSTRAINT [CK_PointsLedger_Delta_NonZero]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [CK_Reviews_CommentMinLen] CHECK  ((len(ltrim(rtrim([Content])))>=(10)))
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [CK_Reviews_CommentMinLen]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [CK_Reviews_NoSelfReview] CHECK  (([TargetType]<>(2) OR [MemberID]<>[TargetID]))
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [CK_Reviews_NoSelfReview]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [CK_Reviews_RatingRange] CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [CK_Reviews_RatingRange]
GO
ALTER TABLE [dbo].[Reviews]  WITH CHECK ADD  CONSTRAINT [CK_Reviews_Status] CHECK  (([Status]=(2) OR [Status]=(1) OR [Status]=(0)))
GO
ALTER TABLE [dbo].[Reviews] CHECK CONSTRAINT [CK_Reviews_Status]
GO
ALTER TABLE [dbo].[RuleApplications]  WITH CHECK ADD  CONSTRAINT [CK_RuleApps_NonNegative] CHECK  (([CouponDiscountAmount]>=(0) AND [PointsUsed]>=(0) AND [Subtotal]>=(0) AND [Payable]>=(0)))
GO
ALTER TABLE [dbo].[RuleApplications] CHECK CONSTRAINT [CK_RuleApps_NonNegative]
GO
USE [master]
GO
