@model BookLoop.Models.BorrowRecord

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>BorrowRecord</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="RecordID" />
            <div class="form-group">
                <label asp-for="ListingID" class="control-label"></label>
                <select asp-for="ListingID" class="form-control" asp-items="ViewBag.ListingID"></select>
                <span asp-validation-for="ListingID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MemberID" class="control-label"></label>
                <select asp-for="MemberID" class="form-control" asp-items="ViewBag.MemberID"></select>
                <span asp-validation-for="MemberID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReservationID" class="control-label"></label>
                <select asp-for="ReservationID" class="form-control" asp-items="ViewBag.ReservationID"></select>
                <span asp-validation-for="ReservationID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BorrowDate" class="control-label"></label>
                <input asp-for="BorrowDate" class="form-control" />
                <span asp-validation-for="BorrowDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnDate" class="control-label"></label>
                <input asp-for="ReturnDate" class="form-control" />
                <span asp-validation-for="ReturnDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DueDate" class="control-label"></label>
                <input asp-for="DueDate" class="form-control" />
                <span asp-validation-for="DueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusCode" class="control-label"></label>
                <input asp-for="StatusCode" class="form-control" />
                <span asp-validation-for="StatusCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt" class="control-label"></label>
                <input asp-for="CreatedAt" class="form-control" />
                <span asp-validation-for="CreatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt" class="control-label"></label>
                <input asp-for="UpdatedAt" class="form-control" />
                <span asp-validation-for="UpdatedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReturnCondition" class="control-label"></label>
                <input asp-for="ReturnCondition" class="form-control" />
                <span asp-validation-for="ReturnCondition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
