@{
    var ok = TempData["ok"] as string;
    var error = TempData["error"] as string;
    var warn = TempData["warn"] as string;
    var info = TempData["info"] as string;
}

@if (!string.IsNullOrEmpty(ok))
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @ok
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}
@if (!string.IsNullOrEmpty(error))
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
        @error
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}
@if (!string.IsNullOrEmpty(warn))
{
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        @warn
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}
@if (!string.IsNullOrEmpty(info))
{
    <div class="alert alert-info alert-dismissible fade show" role="alert">
        @info
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </div>
}
